<div class='btn btn text-font'>
  <h2>Contact</h2>
</div>

<div class='row mb-3'>
  <%= link_to "新規Contact作成", new_contact_path , class: "btn btn-dark btn-sm" %>
</div>

<div class='row'>
  <table class="table table-bordered custom-table">
    <thead>
      <tr>
        <th><%= current_customer.name %>さんのcontact一覧</th>
        <th>投稿日</th>
      </tr>
    </thead>
    <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= link_to(contact.title, contact_path(contact)) %></td>
        <td><%= contact.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
    <%= paginate @contacts %>
</div>