<div class="row mb-3">
  <table class="table table-bordered custom-table">
    <tr>
      <td><%= @contact.title %></td>
    </tr>
    <tr>
      <td><%= @contact.created_at.strftime("%Y-%m-%d %H:%M:%S") %><br>
        <div class="scrollable-contact-show-text">
          <%= simple_format(@contact.body)  %>
        </div>
      </td>
    </tr>
  </table>
</div>

<div class="row mb-3">
  <%= link_to "一覧", contacts_path, class: "btn btn-dark btn-sm mr-3" %>
  <%= link_to contact_path(@contact), method: :delete, class: "btn btn-sm btn-dark btn-lg" do %>
    <i class="fa-solid fa-trash"></i>
  <% end %>
</div>
