<div class='btn btn text-font'>
  <h2>Schedule > 場所</h2>
</div>

<div class="row">
    <%= form_with model: @place, url: admin_places_path do |f| %>
      <%= f.label :name, "場所", class:'mr-5' %>
      <%= f.text_field :name, placeholder: 'place' %>
      <%= f.submit "追加", class: 'btn btn-dark btn-sm' %>
    <% end %>

</div>

<div class="row my-2">
  <div class="col-lg-6">
    <div class="table-scrollable-place-text">
      <table class="table">
        <tbody>
          <% @places.each do |place| %>
           <tr>
            <td>
              <%= place.name %>
            </td>
            <td><%= link_to '編集', edit_admin_place_path(place), class: 'btn btn-dark btn-sm' %></td>
           </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row-sm d-flex justify-content-start">
  <%= link_to "Schedule一覧",  admin_schedules_path, class: "btn btn-dark btn-sm" %>
</div>
