<div class="row">
  <h4>task更新・削除</h4>
</div>

<div class="row">
  <%= form_with model: @task, url: admin_task_path(@task.id), method: :patch, local: true do |f| %>

  <table class="table">
    <tbody>
      <tr>
         <td><%= f.label :name, "place名", class:'mr-5' %>
             <%= f.text_field :name, placeholder: 'place' %>
         </td>
         <td><%= link_to "戻る", admin_tasks_path, class: "btn btn-sm btn-dark btn-lg" %></td>
         <td><%= f.submit "更新", class: "btn btn-dark ml-5 btn-sm" %></td>
         <td><%= link_to admin_task_path(@task), method: :delete, class: "btn btn-sm btn-dark btn-lg" do %>
              <i class="fa-solid fa-trash-can"></i>
             <% end %>
         </td>
      </tr>
    </tbody>
  </table>

  <% end %>
</div>
