<div class='row'>
  <table class="table table-bordered custom-table">
    <thead>
      <tr>
        <th>contact一覧</th>
        <th>送信者</th>
        <th>受信日</th>
      </tr>
    </thead>
    <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td>
          <%= !contact.admin_read ? '新着' : '' %>
          <%= link_to contact.title, admin_contact_path(contact) %>
        </td>
        <td><%= contact.customer.name %></td>
        <td><%= contact.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
    <%= paginate @contacts %>
</div>
