<div class="row mb-3">
  <table class="table table-bordered custom-table">
    <tr>
      <td>To　　　：<%= @contact.customer.name %>さんからのメッセージ</td>
    </tr>
    <tr>
      <td>タイトル：<%= @contact.title %></td>
    </tr>
    <tr>
      <td>受信日　：<%= @contact.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
    </tr>
    <tr>
      <td>本文:<br>
        <div class="scrollable-admin-contact-show-text">
          <%= simple_format(@contact.body)  %>
        </div>
      </td>
    </tr>

  </table>
</div>

<div class="row mb-3">
  <div class="col-sm d-flex justify-content-center">
    <%= link_to "一覧", admin_contacts_path, class: "btn btn-dark" %>
  </div>
</div>

