<%= form_with url: admin_notes_path, model: @note do |f| %>
  <%= render 'layouts/error_messages', model: f.object%>

  <div class='btn btn text-font'>
    <h2>Note</h2>
  </div>

  <div class="form-group">
    <%= f.label :タイトル %>
    <%= f.text_field :title, class: 'form-control book_title' %>
  </div>

  <div class="scrollable-note-text">
    <%= f.label :本文 %>
    <%= f.text_area :body, wrap: "hard", class: 'form-control book_body', rows: 15, cols: 50 %>
  </div>

  <div class="row justify-content-center">
    <%= f.submit "投稿", class: "btn btn-dark" %>
  </div>
<% end %>

