 <!--運営用 login画面-->
 <div class="container ">
    <div class="row align-items-center justify-content-center" style="height:300px;">

    <div class="row mb-3">
      <div class="col-sm d-flex justify-content-start">
        <div class="btn btn-info me-2 text-font">Log in</div>
      </div>
      <div class="col-sm d-flex justify-content-end">
         <%= link_to "Sign in", new_customer_registration_path, class: "btn btn-outline-info text-font" %>
      </div>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


     <div class="row mb-3">
      <%= f.label :Email, class: "col-sm-5 col-form-label text-font" %>
      <div class="col-sm-7">
        <%= f.text_field :email, class: "form-control", placeholder: "xxx@xxx" %>
      </div>
    </div>

     <div class="row mb-3">
      <%= f.label :Password, class: "col-sm-5 col-form-label text-font" %>
      <div class="col-sm-7">
        <%= f.text_field :password, class: "form-control", placeholder: "xxxxxx" %>
      </div>
    </div>

     <div class="row mb-3">
      <%= f.label :Password_confirmation, class: "col-sm-5 col-form-label text-font" %>
      <div class="col-sm-7">
        <%= f.text_field :password_confirmation, class: "form-control", placeholder: "xxxxxx" %>
      </div>
    </div>

    <div class="row justify-content-center">
      <%= f.submit "Enter", class: "btn btn-dark text-font" %>
    </div>

    <% end %>
    </div>
 </div>