  <li class="nav-item">
    <%= link_to "Note", admin_notes_path, class: 'nav-link text-dark btn btn-info header-button' %>
  </li>

  <li class="nav-item">
    <%= link_to "Schedule", admin_notes_path, class: 'nav-link text-dark btn btn-info header-button' %>
  </li>

  <li class="nav-item">
    <%= link_to "To Do", admin_notes_path, class: 'nav-link text-dark btn btn-info header-button' %>
  </li>

  <li class="nav-item">
    <%= link_to "Contact", admin_notes_path, class: 'nav-link text-dark btn btn-info header-button' %>
  </li>

  <li class="nav-item">
    <%= link_to "Link", admin_links_path, class: 'nav-link text-dark btn btn-info header-button' %>
  </li>

  <li class="nav-item">
    <%= link_to "Log out", destroy_customer_session_path, method: :delete, class: 'nav-link text-dark btn btn-info header-button' %>
  </li>