<!DOCTYPE html>
<html>
  <head>
    <title>Nekonote</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/681fabb260.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">

  </head>

   <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand p-3" href="<%= admin_admins_my_page_path %>"><%= image_tag('nekonote_main.png', class: 'custom-image') %></a>
            <%#= link_to "猫の手", admin_admins_my_page_path, class:"font-weight-bold text-dark text-font" %>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
         <ul class="navbar-nav ml-auto d-flex justify-content-between">

           <%# if admin_signed_up?||admin_loged_in? %>
          <li class="nav-item">
            <%= link_to "Note", admin_notes_path, class: 'nav-link text-dark btn btn-info header-button' %>
          </li>
          <li class="nav-item">
            <%= link_to "Schedule", admin_notes_path, class: 'nav-link text-dark btn btn-info header-button' %>
          </li>
          <li class="nav-item">
            <%= link_to "To Do", admin_notes_path, class: 'nav-link text-dark btn btn-info header-button' %>
          </li>
          <li class="nav-item">
            <%= link_to "Contact", admin_notes_path, class: 'nav-link text-dark btn btn-info header-button' %>
          </li>
          <li class="nav-item">
            <%= link_to "Link", admin_notes_path, method: :delete, class: 'nav-link text-dark btn btn-info header-button' %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_customer_session_path, method: :delete, class: 'nav-link text-dark btn btn-info header-button' %>
          </li>

          <%# end %>

        </ul>
        </div>
        </div>
      </nav>
    </header>
    <div class="bg-color" >
    <%= yield %>
    </div>
    <footer class="footer-text">N E K O N O T E</footer>
  </body>
</html>
